<%- include('../partials/header.ejs') %>

<main class="container">
  <section class="section--full">
    <h2 class="title" data-name="<%= global.dictionary.navigation.newPost %>">
      <%= global.dictionary.navigation.newPost %>
    </h2>

    <form id="form" action="/new-post" enctype="multipart/form-data" method="post" data-form="editor" class="post-form">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div>
        <label for="title"><%= global.dictionary.form.title %></label>
        <input type="text" name="title" />
      </div>
      <div>
        <label for="body"><%= global.dictionary.form.body %></label>
        <textarea name="body"></textarea>
      </div>
      <button type="submit"><%= global.dictionary.form.addNewPost %></button>
    </form>
  </section>
</main>
