<h1><%= global.dictionary.navigation.dashboard %></h1>

<section>
  <a href="/dashboard/new-post"><%= global.dictionary.navigation.newPost %></a>

<ul>
  <% posts.forEach(post => { %>
  <li>
    <a href="/post/<%= post.slug %>"><%= post.title %></a>
    <span
      ><%= new Date(post.createdAt).toLocaleDateString(global.locale) %></span
    >
  </li>
  <% }) %>
</section>
