<h1>Dashboard</h1>

<p><%= global.hello %> <%= user.name %></p>

<div>
  <a href="/dashboard/new-post">New post</a>
</div>

<ul>
  <% posts.forEach(post => { %>
  <li>
    <a href="/post/<%= post.slug %>"><%= post.title %></a>
    <span><%= new Date(post.createdAt).toLocaleDateString() %></span>
  </li>
  <% }) %>
</ul>
