<h1><%= global.dictionary.navigation.newPost %></h1>

<section>
  <% if (typeof alert !== 'undefined') { %> <% alert.forEach(error => { %>
  <div style="color: red"><%= error.msg %></div>
  <% }) %> <% } %>

  <form action="/dashboard/new-post" method="post">
    <div>
      <label for="title"><%= global.dictionary.form.title %></label>
      <input type="text" name="title" <% if (typeof fill !== 'undefined') { %>
      value="<%= fill.postTitle %>" <% } %> />
    </div>
    <div>
      <label for="body"><%= global.dictionary.form.body %></label>
      <textarea type="text" name="body">
<% if (typeof fill !== 'undefined') { %><%= fill.postBody %><% } %></textarea
      >
    </div>
    <button type="submit"><%= global.dictionary.form.addNewPost %></button>
  </form>
</section>
