<% if (messages.length > 0) { %>
<div>
  <% messages.forEach(message => { %>
  <p style="color: green"><%= message %></p>
  <% }); %>
</div>
<% } %> <% if (user) { %>
<p><%= user.name %></p>
<% } %>

<h1><%= locale.hello %></h1>

<section>
  <ul>
    <% posts.forEach(post => { %>
    <li>
      <a href="/post/<%= post.slug %>"><%= post.title %></a>
      <span><%= post.author.name %></span>
      <span><%= new Date(post.createdAt).toLocaleDateString() %></span>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>">View older posts</a>
  <% } %>
</section>
