<h1><%= global.dictionary.navigation.home %></h1>

<section>
  <% if (messages.length > 0) { %>
  <div>
    <% messages.forEach(message => { %>
    <p style="color: green"><%= message %></p>
    <% }); %>
  </div>
  <% } %>

  <ul>
    <% posts.forEach(post => { %>
    <li>
      <a href="/post/<%= post.slug %>"><%= post.title %></a>
      <span><%= post.author.name %></span>
      <span
        ><%= new Date(post.createdAt).toLocaleDateString(global.locale) %></span
      >
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>"
    ><%= global.dictionary.navigation.viewOlderPosts %></a
  >
  <% } %>
</section>
