<%- include('./partials/header.ejs') %>

<main class="container center" data-title="<%= title %>">
  <section class="section">
    <h2 class="title" data-name="<%= global.dictionary.navigation.login %>">
      <%= global.dictionary.navigation.login %>
    </h2>

    <%- form %>
  </section>
</main>
