<header>
  <nav>
    <figure>
      <%= global.dictionary.logo %> <% if (typeof user !== 'undefined') { %> <%=
      user.name %> <% } %>
    </figure>
    <form action="/search" method="post">
      <input
        type="text"
        name="searchTerm"
        placeholder="<%= global.dictionary.form.search %>"
      />
      <button><%= global.dictionary.form.search %></button>
    </form>
    <ul>
      <li><a href="/"><%= global.dictionary.navigation.home %></a></li>
      <% if (typeof user === 'undefined') { %>
      <li><a href="/login"><%= global.dictionary.navigation.login %></a></li>
      <li>
        <a href="/register"><%= global.dictionary.navigation.register %></a>
      </li>
      <% } else { %>
      <li>
        <a href="/dashboard"><%= global.dictionary.navigation.dashboard %></a>
      </li>
      <% if (user.role === 'admin') { %>
      <li><a href="/admin"><%= global.dictionary.navigation.admin %></a></li>
      <% } %>
      <li>
        <form action="/logout" method="post">
          <button type="submit">
            <%= global.dictionary.navigation.logout %>
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
