<div class="feature-articles__container">
  <div class="feature-articles__grid">
    <% posts.forEach((post, index) => { %>
    <a href="/post/<%= post.slug %>" class="article" data-link>
      <%- include('./image.ejs', { post, thumb: false }) %>
      <div class="article__data-group">
        <h3><%= post.title %></h3>
        <p>
          <span><%- include('./icon.ejs', { name: 'user' }) %> <%= post.author.name %></span>
          <span
            ><%- include('./icon.ejs', { name: 'calendar' }) %><%= new
            Date(post.createdAt).toLocaleDateString(global.locale)%></span
          >
        </p>
      </div>
    </a>
    <% }) %>
  </div>
  <aside class="trending-news__grid">
    <% posts.forEach((post, index) => { %>
    <a href="/post/<%= post.slug %>" class="news" data-link>
      <h3><%= post.title %></h3>
      <div class="news__data-group">
        <p>
          <span><%- include('./icon.ejs', { name: 'user' }) %> <%= post.author.name %></span>
          <span>
            <%- include('./icon.ejs', { name: 'calendar' }) %><%= new
            Date(post.createdAt).toLocaleDateString(global.locale)%>
          </span>
        </p>
      </div>
      <figure><%- include('./image.ejs', { post, thumb: true }) %></figure>
    </a>
    <% }) %>
  </aside>
</div>
