<div class="feature-articles__container">
  <div class="feature-articles__grid">
    <% posts.forEach((post, index) => { %>
    <a href="/post/<%= post.slug %>" class="article">
      <%- include('./image.ejs', { post }) %>
      <div class="article__data-group">
        <h3><%= post.title %></h3>
        <p>
          <span><%- include('./svg/userIcon.ejs') %> <%= post.author.name %></span>
          <span
            ><%- include('./svg/calendarIcon.ejs') %><%= new
            Date(post.createdAt).toLocaleDateString(global.locale)%></span
          >
        </p>
      </div>
    </a>
    <% }) %>
  </div>
  <aside class="trending-news__grid">
    <% posts.forEach((post, index) => { %>
    <a href="/post/<%= post.slug %>" class="news">
      <h3><%= post.title %></h3>
      <div class="news__data-group">
        <p>
          <span><%- include('./svg/userIcon.ejs') %> <%= post.author.name %></span>
          <span>
            <%- include('./svg/calendarIcon.ejs') %><%= new Date(post.createdAt).toLocaleDateString(global.locale)%>
          </span>
        </p>
      </div>
      <figure><%- include('./image.ejs', { post }) %></figure>
    </a>
    <% }) %>
  </aside>
</div>
