<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
  <section class="section--full">
    <h2 class="title" data-name="<%= global.dictionary.navigation.admin %>">
      <%= global.dictionary.navigation.admin %>
    </h2>

    <p><%= user.name %></p>
  </section>
</main>
